# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node modules
node_modules/

# Log files
*.log

# Build directory
.next/

# .env files
.env

# Dependency directories
bower_components/

# Operating system files
.DS_Store

# IDE files
.vscode/
.idea/

# npm package lock file
package-lock.json

# Yarn lock file
yarn.lock

