@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px 0px;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}


.rdp-head_cell {
  padding: 0 8px;
  /* Adjust the padding to control the gap */
  font-size: 14px;
  /* Adjust font size */
  color: #333;
  /* Adjust text color */
}